* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    font-family: Arial;
}

header {
    background-color: red;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    display: inline-block;
    margin-left: 20px;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
}

nav {
    margin-right: 20px;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

aside {
    min-width: 20%;
    max-width: 20%;
    background-color: purple;
    border-right: 4px solid black;
}

p {
    padding: 5px;
}

img {
    border: solid black 1px;
}

footer {
    background-color: aqua;
    display: flex;
    width: 100%;
}

.name-portfolio {
    min-width: 50%;
    background-color: blue;
}

.sub-title {
    background-color: green;
    width: 100%;
    height: 100px;
    padding: 10px;
}

.project-title-box {
    background-color: orange;
    width: fit-content;
    height: 50px;
    padding: 3px;
    border: 2px solid yellowgreen;
}

.work {
    display: flex;
}

.work-examples {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card {
    flex: 1 0 0;
    width: 50%;
    height: 400px;
}

/* .prime-work-example {
    max-width: 800px;
    margin-bottom: 0px;
} */

.prime-link {
    position: relative;
    top: -100px;
    background-color: yellow;
    border: solid black 1px;
    padding: 10px;
    display: inline;
}

/* .example {
    max-width: 50%;
    min-width: 400px;
} */

.contact-list {
    width: 80%;
    background-color: brown;
}

.about-me {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}